SECRET_KEY=change-me
DEBUG=false
ALLOWED_HOSTS=stroy.nurcrm.kg,85.198.81.192,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://stroy.nurcrm.kg,http://stroy.nurcrm.kg
SECURE_SSL_REDIRECT=true
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
SECURE_HSTS_SECONDS=0

DB_NAME=construction_db
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

NURCRM_BASE_URL=https://app.nurcrm.kg
NURCRM_AUTH_URL=https://app.nurcrm.kg/api/users/auth/login/
NURCRM_PROFILE_URL=https://app.nurcrm.kg/api/users/profile/
NURCRM_REQUEST_TIMEOUT=5

BUILDING_ACCESS_COOKIE_NAME=building_access_token
BUILDING_ACCESS_COOKIE_MAX_AGE=900
BUILDING_ACCESS_COOKIE_SECURE=true
BUILDING_ACCESS_COOKIE_SAMESITE=Lax
